/*
Theme Name: Season Diary
Theme URI: http://pradyotghate.com
Author: Pradyot Ghate
Author URI: http://pradyotghate.com
Description: A clean, minimal, responsive blog theme. With portfolio style rendering for photo category.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, white
Text Domain: seasondiary

Color Scheme - Winter Evening by Fireplace
darkblue: rgba(18,22,33,1);
blue: rgba(40,136,213,1);
greyblue: rgba(83,93,104,1);
white: rgba(244,244,244,1);
highlight-red: rgba(87,6,2,1);
*/

@font-face {
	font-family: SFDisplay-regular;
	src: url('font/SanFranciscoDisplay-Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: SFDisplay-light;
	src: url('font/SanFranciscoDisplay-Light.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: SFDisplay-ultralight;
	src: url('font/SanFranciscoDisplay-Ultralight.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: Robotomono-light;
	src: url('font/RobotoMono-Light.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: FontAwesome;
	src: url('font/FontAwesome.otf') format('opentype');
	font-weight: noraml;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	margin: 0;
	color: rgba(18,22,33,1);
}

a:link,
a:visited,
a:active,
a:link:hover {
	color: rgba(40,136,213,1);
	text-decoration: none;
}

@media only screen and (min-width: 1100px) {						/* Link hovering for desktops */
	a:link:hover {
		text-decoration: underline;
	}
}

pre {
	margin: 0;
}


/* Text content related styling goes here */
.text-post-list {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	width: 100%;
	font-size: 12px;
	padding-top: 39px;
}

.text-one-post {
	margin: 0 auto;
	max-width: 1100px;
	padding-top: 20px;
	padding-bottom: 15px;
	display: block;
	letter-spacing: 1.15px;
}

.text-post-title {
	font-family: "SFDisplay-regular", Helvetica, sans-serif;
	font-size: 18px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (min-width: 1100px) {		/* Increase the side padding for title on desktop */
	.text-post-title {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.text-post-date {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	font-size: 11px;
	color: rgba(83,93,104,1);
	padding-top: 11px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
	text-align: center;
}

div.text-post-image {
	padding-top: 11px;
	max-height: 200px;
	max-width: 1100px;
	overflow: hidden;
	margin: 0 auto;
}

@media only screen and (min-width: 1100px) {			/* increases the post-header-image height on desktop */
	div.text-post-image {
		max-height: 275px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

img.text-post-image {
	max-width: 100%;
	height: auto;
}

.text-post-text {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	display: block;
	max-width: 1100px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (min-width: 1100px) {			/* match text width to image width on wide-screen desktops */
	.text-post-text {
		line-height: 20px;
	}
}

p {
	padding-left: 10px;
	padding-right: 10px;
}

strong {
	font-family: "SFDisplay-regular";
}

.alignleft {
	display: inline;
	float: left;
	padding-right: 10px;
}

.alignright {
	display: inline;
	float: right;
	padding-left: 10px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	margin: 0;
	margin-top: 11px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-left-width: 1px;
    border-left-color: rgba(87,6,2,.5);
    border-left-style: solid;
	background-color: rgba(87,6,2,.1);
	font-family: "SFDisplay-light";
	font-size: 12px;
}

blockquote > p {
	margin: 0;
	padding: 0;
}

code {
	display: block;
	margin: 0;
	margin-top: 11px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left-width: 1.5px;
    border-left-color: rgba(244,244,244,.5);
    border-left-style: solid;
	background-color: rgba(244,244,244,1);
	font-family: "Robotomono-light", "consolas";
	font-size: 12px;
}

.text-post-tags {
	padding-top: 5px;
	font-size: 11px;
	letter-spacing: 0.5px;
	margin: 0 auto;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;

	border-bottom-color: rgba(83,93,104,.1);
	border-bottom-style: solid;
	border-bottom-width: 1.5px;
}

@media only screen and (min-width: 1100px) {		/* match tag width to image width on wide-screen desktops */
	.text-post-tags {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.tag {
	margin-bottom: 11px;
}

a[rel=tag] {
	background-color: rgba(83,93,104,.1);
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
	border-radius: 3px;
	display: inline-block;
	font-family: 'SFDisplay-light';
}

.icon {
	font-family: "FontAwesome", "SFDisplay-regular";
}

/* Image posts related styling goes here */
.image-post-list {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 900px;
	font-size: 12px;
	margin: auto;
	padding-top: 45px;
}

.main-image {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
	display: inline-block;
}


/* Post navigation related styling goes here */
.post-list-nav {
	padding-top: 10px;
	font-size: 10px;
	letter-spacing: 0.5px;
	margin: 0 auto;
	text-align: center;
	color: rgba(244,244,244,1);
}

.nav-button {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	background-color: rgba(18,22,33,.1);
	font-size: 25px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 3px;
}


/* Footer related styling goes here */
.footer {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	background-color: rgba(83,93,104,.1);
	color: rgba(83,93,104,1);
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 10px;
}



/* header */

.header {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	background-color: rgba(18,22,33,.85);
	-webkit-backdrop-filter: blur(5px);

	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
	position: fixed;
	width: 100%;
	z-index: 99;
}

.header .logo {
	display: block;
	float: left;
	font-size: 22px;
	padding: 7px 10px;
	color: rgba(244,244,244,1);
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.header li {
	display: block;
	font-size: 16px;
	padding: 5px 25px 5px 14px;
	margin-bottom: 10px;
	margin-right: 10px;
}

@media only screen and (min-width: 700px) {
	.header li {
		margin-right: 0px;
	}
}

.header li.cat-item,
.header li.page_item {
	padding: 10px 20px;
	margin: 0;
}

.header li a {
	color: rgba(244,244,244,1);
	text-decoration: none;
}

input.search-field {
	font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
	background-color: rgba(244,244,244,.5);
	border-style: none;
	border-radius: 2px;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 6px 10px 4px 10px;
    transition: background-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out;
    color: rgba(244,244,244,1);
    min-width: 55px;
}

@media only screen and (min-width: 720px) {
	input.search-field {
		width: 150px;
	}
}

	::-webkit-input-placeholder { /* Chrome */
	  color: rgba(244,244,244,1);
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(244,244,244,1);
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(244,244,244,1);
	  opacity: 1;
	}
	:-moz-placeholder { /* Firefox 4 - 18 */
	  color: rgba(244,244,244,1);
	  opacity: 1;
	}

input.search-field:focus {
	background-color: rgba(244,244,244,1);
	color: rgba(18,22,33,1);;
}

/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height 300ms ease-out;
	-webkit-transition: max-height 300ms ease-out;
}

/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 16px 10px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: rgba(244,244,244,1);
	display: block;
	height: 2px;
	position: relative;
	transition: background 300ms ease-out;
	-webkit-transition: background 300ms ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: rgba(244,244,244,1);
	content: '';
	height: 100%;
	position: absolute;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* For large screens */
@media only screen and (min-width: 720px) {
	.header .menu-icon {
		display: none;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header li {
		font-family: "SFDisplay-light", "helvetica neue", Helvetica, sans-serif;
    	float: left;
		margin-bottom: 0;
		padding: 5px 25px 5px 20px;
	}

}